body {
    font-family: calibri, sans-serif;
    background-color: #fdfaf5;
    color: #454545;
    margin: 20;
    padding: 10;
    line-height: 1.3;
    width: auto;
    font-size: 15px;
    text-align: left;
    letter-spacing: normal;
}

section {
  background-color: #454545; 
  color: #fdfaf5
}

p {
  margin: 20px 20px 30px 20px;
}
  
h1 {
  color: #0054A8;
  font-family: Montserrat, sans-serif;
  margin: 20px 20px 30px 20px;
  border: 2px dashed #0054A8;
  text-align: center;
  font-size: 50px;
}

h2 {
  color: #5A2EB2;
  font-family: Montserrat, sans-serif;
  margin: 20px 20px 30px 20px;
  font-size: 30px;
}

h3 {
  color: #FFDBFF;
  font-family: Roboto, sans-serif;
  margin: 10px 20px 5px 20px;
  font-size: 25px;
}

iframe {
  max-width: 100%;  
  margin: 5px 5px 5px 20px;
}

footer {
    margin: 10px 10px 10px 10px;
    padding: 1em;
    background-color: #fdfaf5;
    font-size: 0.75em;
    text-align: center;
    border-top: 1px dotted #574A3D;
}
